* {
    box-sizing: border-box; 
}
html, body{
    margin: 0;
    padding: 0;
    text-align: center;
    background: darkgray;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr 1fr;
    grid-template-areas: "header"
                         "main"
                         "footer";
}

header {
    grid-area: header;
}

main {
    grid-area: main;
    display:grid;
    height: max-content;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /* 150px 150px 150px 150px 150px 150px 150px 150px; */
    grid-template-rows: 25px 1fr 1fr 25px;
    /* 150px 150px; */
    gap: 10px 10px;
    /* justify-items: center; */
    /* align-items: center;
    justify-content: center; */
    grid-template-areas: "pl1 pl1  pl1  pl1  pl1  pl1  pl1 pl1"
                         "mP1 p1P1 p2P1 p3P1 p4P1 p5P1 p6P1 mP2"
                         "mP1 p1P2 p2P2 p3P2 p4P2 p5P2 p6P2 mP2"
                         "pl2 pl2  pl2  pl2  pl2  pl2  pl2 pl2";
}

.player1 {
    grid-area: pl1;
    height: 100%;
    width: 75%;
    font-size: 20px;
    margin-left: 12.5%;
    text-align: left;
    /* grid-column: 2;
    grid-row: 3 / 5;
    height: 50%;
    font-size: 30px; */
}
.player2 {
    grid-area: pl2;
    height: 100%;
    width: 75%;
    font-size: 20px;
    margin-left: 12.5%;
    text-align: right;
    /* grid-column: 6;
    grid-row: 3 / 5;
    height: 50%; 
    font-size: 30px; */
}

.MancalaPlayer1 {
    grid-area: mP1;
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
    border: 2px solid black;
    font-size: 40px;
}
.pits1Player1 {
    grid-area: p1P1;
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
    border: 2px solid black;
    font-size: 40px;
}
.pits2Player1 {
    grid-area: p2P1;
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
    border: 2px solid black;
    font-size: 40px;
}
.pits3Player1 {
    grid-area: p3P1;
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
    border: 2px solid black;
    font-size: 40px;
}
.pits4Player1 {
    grid-area: p4P1;
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
    border: 2px solid black;
    font-size: 40px;
}
.pits5Player1 {
    grid-area: p5P1;
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
    border: 2px solid black;
    font-size: 40px;
}
.pits6Player1 {
    grid-area: p6P1;
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
    border: 2px solid black;
    font-size: 40px;
}
.MancalaPlayer2 {
    grid-area: mP2;
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
    border: 2px solid black;
    font-size: 40px;
}
.pits1Player2 {
    grid-area: p1P2;
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
    border: 2px solid black;
    font-size: 40px;
}
.pits2Player2 {
    grid-area: p2P2;
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
    border: 2px solid black;
    font-size: 40px;
}
.pits3Player2 {
    grid-area: p3P2;
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
    border: 2px solid black;
    font-size: 40px;
}
.pits4Player2 {
    grid-area: p4P2;
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
    border: 2px solid black;
    font-size: 40px;
}
.pits5Player2 {
    grid-area: p5P2;
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
    border: 2px solid black;
    font-size: 40px;
}
.pits6Player2 {
    grid-area: p6P2;
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
    border: 2px solid black;
    font-size: 40px;
}
footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr 1fr 1fr;
    grid-template-rows: 1fr 1frfr 1fr;
    gap: 10px 10px;
}

p {
    grid-column: 3;
    grid-row: 1 / 3;
    height: 50%;
    font-size: 20px;
    margin-top: 20px;
}

.player1Score{
    grid-column: 2;
    grid-row: 2 / 3;
    height: 50%;
    font-size: 20px;
    margin-top: 20px;
    
}
.player2Score{
    grid-column: 4;
    grid-row: 2 / 3;
    height: 50%;
    font-size: 20px;
    margin-top: 20px;

}
button {
    border: 1px solid black;
    justify-content: center;
    grid-column: 3;
    grid-row: 3 / 3;
    /* height: 70%; */
    /* width: 100%; */
    font-size: 30px;
}